body {
    background-image: url("../images/rainbow.jpg");
}

.container,
.questionX,
#quiz {
    text-align: center;
    align-content: center
}
.radio {
    display: inline-block
}
#submit {
    align-content: center;
    text-align: center;
    display: inline-block;
    
}


